<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
       <!--logImpl属性制定使用Log4J输出日志-->
       <setting name="logImpl" value="LOG4J"/>
   </settings>
    <!--设置别名,在返回类中原来需要报名加类名，现在只需类名-->
    <typeAliases>
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="huangyichun"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="tk.mybatis.simple.mapper"/>-->
        <mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/UserMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/RoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/PrivilegeMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/UserRoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/RolePrivilegeMapper.xml"/>
    </mappers>
</configuration>